.PostList__item {
    
}

.PostList__item-enter {
    opacity: 0;
    transform: scale(0) translateX(-1000px);
}

.PostList__item-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0px);
    transition: all 200ms ease-in;
}

.PostList__item-exit {
    opacity: 1;
    transform: scale(1) translateX(0px);
}

.PostList__item-exit-active {
    opacity: 0;
    transform: scale(0) translateX(1000px);
    transition: all 200ms ease-in;
}