.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.post__title {
    font-size: 24px;
    margin-bottom: 16px;
}
